
.dash-heading{
	width: 100%;
	background-color: #fff;
	text-align: center;
	position: relative;
}

#dash-title{
	margin:0;
	padding: 150px 200px;
}

.dash-data-window{
	color: #fff;
	text-align: center;
}

#loading-gif{
	padding: 200px 200px;
	text-align:center;
}

.peripheral-li{
	width: 50%;
	padding: 0em 0em 1em 0.5em;
	list-style: none;
}

.dashboard-buttons{
	font-size: 1em;
	font-weight: bold;
	color:#fff;
	border: 2px #fff solid;
	padding: 0.5em;
	transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.active{
	background-color:#0082fc;
}
.active:hover{
	cursor: pointer;
	background-color:#fff;
	color:#0082fc;
}
.out-of-range{
	background-color:#c1c1c1;
}
.out-of-range:hover{
	opacity: 0.2;
}

.bad-news{
	list-style: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.service-li{
	list-style: none;
}

.two-col{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left right";
}

.two-col-left{
	grid-area: left;
}
.two-col-right{
	grid-area: right;
}
#characteristics{
	text-align: center;
}
#characteristics > li{
	list-style: none;
}

#characteristic-popup{
	display: none;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
}
#characteristic-interface-wrapper{
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	grid-template-areas: '. . x'
						 '. center .'
						 '. . .';
}
#close-characteristic{
	grid-area:x;
	text-align: center;
	cursor: pointer;
	padding: 2em;
}
#characteristic-interface{
	grid-area: center;
	text-align: center;
	background-color:#fff;
	color:#000;
}
#characteristic-interaction-panel{
	display: inline;
	float: left;
}
.btn-list>li{
	list-style: none;
	margin: 2em;
}