
.dash-heading{
	width: 100%;
	background-color: #fff;
	text-align: center;
	position: relative;
}

#dash-title{
	margin:0;
	padding: 150px 200px;
}

.dash-data-window{
	color: #fff;
	text-align: center;
}

#loading-gif{
	padding: 200px 200px;
	text-align:center;
}

.peripheral-li{
	cursor: pointer;
	width: 50%;
	padding: 0em 0em 1em 0.5em;
	list-style: none;
}

.dashboard-buttons{
	font-size: 1em;
	font-weight: bold;
	background-color:#0082fc;
	color:#fff;
	border: 2px #fff solid;
	padding: 0.5em;
	transition: background-color 0.25s, color 0.25s, border 0.25s;
}
.dashboard-buttons:hover{
	cursor: pointer;
	background-color:#fff;
	color:#0082fc;
}