
.dash-heading{
	width: 100%;
	background-color: #fff;
	text-align: center;
	position: relative;
}

#dash-title{
	margin:0;
	padding: 150px 200px;
}

.dash-data-window{
	color: #fff;
}

#loading-gif{
	padding: 200px 200px;
	text-align:center;
}